<div class="container mt-4">
  <h1>Student Mark Report Dashboard</h1>
  <div class="row">
    <button class="btn btn-success" routerLink="/totalmarks">Total Marks </button>
    <button class="btn btn-primary" routerLink="/boys-score">Boys' Score </button>
    <button class="btn btn-secondary" routerLink="/girls-score">Girls' Score </button>
    <button class="btn btn-info" routerLink="/highestscore">Highest Total Mark Students </button>
    <button class="btn btn-warning" routerLink="/failedstudent">Failed Students </button>
    <button class="btn btn-danger" routerLink="/addstudent">Add Student </button>
    <button class="btn btn-dark" routerLink="/deletestudent">Delete Student </button>
  </div>

  
</div>

